@font-face {
    font-family: 'Cursive';
    src: url('../assets/fonts/Cursive standard Bold.ttf') format('truetype'),
         url('../assets/fonts/Cursive standard .ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
}
.contenaireHome{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url(../assets/images/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    .title{
        display: flex;
        flex-direction: row;
        padding-top: 100px;

        h1 {
            font-family: 'Cursive', sans-serif;
            font-weight: bold;
            color: rgba(255, 255, 255, 0.826);
            font-size: calc(10vh + 10px);
        }
        img {
            width: 254px;
            height: 281px;
        }
    }
    .ContenairCard{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    }


