@font-face {
    font-family: 'Cursive';
    src: url('../assets/fonts/Cursive standard Bold.ttf') format('truetype'),
         url('../assets/fonts/Cursive standard .ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .contenaireHome {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    background-image: url(../assets/images/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
  
    .title {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      padding: 70px 20px 0px 50px;
      justify-content: center;
      align-items: center;

      background-color: rgba(0, 0, 0, 0.5); 
      width: 100%; 
  
      h1 {
        font-family: 'Cursive', sans-serif;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.826);
        font-size: calc(5vh + 10px); 
      }
  
      img {
        height: calc(20vh + 5px);
        margin-left: 20px; 
      }
    }
    .MusicPlayerWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 10px;
        z-index: 20;
      }
  
    .ContenairCard {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
      margin-top: 20px; 
    }
  }
  @media screen and (max-width: 900px) {
    .contenaireHome {
      .MusicPlayerWrapper {
       top: 0;
       .title {
        margin: 0;
        padding: 0;
        justify-content: space-around;
        .h1 {
          margin: 10px 0 0 10px;
        }
       }
      }

    }
    .ContenairCard {
      gap: 20px;
    }

  }