.music-player {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 7px;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  
  
  .player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
  }
  
  .player-controls > button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border: 0;
    background: inherit;
    cursor: pointer;
  }
  
  .player-controls > button.emphasised {
    background: #fe0e17;
    color: white;
    border-radius: 100%;
  }
  
  .player-controls .volume-control {
    margin-left: 24px;
  }
  
  .player-controls .volume-control svg {
    margin-right: 8px;
  }
  .player-time {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 1rem;
  }